@font-face {
  font-family: "TeX";
  src: url("../FONTS/TeX.otf");
}
@font-face {
  font-family: "Spectra";
  src: url("../FONTS/spectrashell.ttf");
}

body {
  background-color: #ffffff;
  width: 100%;
  height: 100vh;
  font-family: "TeX";
}

.main-contact {
  width: 100%;
  height:35px;
  background-color: #212121;
}

.main-nav {
  width:100%;
  height:90px;
}

.main-header {
  width:100%;
  height: 800px;
  background-image: url("../IMG/photo.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  position: relative;

}

.main-about {
  width: 100%;
  height: 300px;
}

.contact-inner {
  height: 35px;
  width: 1400px;
  margin: 0px auto;
  display: flex;
}

.nav-inner {
  height: 90px;
  width: 1400px;
  margin: 0px auto;
  position: relative;
}

.about-inner {
  height: 300px;
  width: 1400px;
  margin: 0px auto;
  display: flex;
}

.halfpart {
  width: 50%;
  display: flex;
  position: relative;


}

.halfpart a {
  text-decoration: none;
  color: #ffffff;
  font-size: 14px;
  padding: 10px;
  display: block;


}

.halfpart a i {
  color: #feb33c;
}

.icons {
  width: 210px;
  height: 35px;
  position: absolute;
  right: 0px;
  top: 0px;
  display: flex;

}

.icons a {
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  vertical-align: middle;
  text-align: center;
  padding: 0px;

}
.icons a i {
  color: #ffffff;
}

.nav-items {
  display: flex;
  position: absolute;
  right: 0px;
  top: 0px;
  height: 90px;
  justify-content: flex-end;

}

.search {
  background-color: #feb33c;
  width: 90px;
  height: 90px;
  color: #ffffff !important;
  text-align: center;
  vertical-align: middle;
  line-height: 90px;
  display:block;

}

.nav-items a {
  color: #000000;
  display: block;
  height: 90px;
  padding: 0px 15px;
  line-height:90px;
  vertical-align: middle;
  white-space: nowrap;
  text-decoration: none;
  font-weight: bold;
  box-sizing: border-box;
}

.logo {
  height: 90px;
  line-height: 90px;
  vertical-align: middle;
  font-family: "Spectra";
  font-size: 32px;
  color: #000000;
  paddi


}

.logo span {
  color: #feb33c;
}

.firstdiv , .thirddiv {
  text-align: center;
  vertical-align: middle;
  line-height:800px;
  width: 200px;
  display: block;
  font-size: 36px;
  color: #ffffff;

}

.seconddiv {
  width: calc(100% - 400px);
  position: relative;
}

.centerdiv {
  top: calc(50% - 175px);
  left: calc(50% - 350px);
  position: absolute;
  width: 700px;
  height: 350px;

}

.darker {
  background-color: #00000066;
  width: 100%;
  height: 100%;
  position:absolute;
  z-index: 1;
}

.elsediv {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
}

.header1 {
  color:#feb33c;
  font-weight: bold;
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  margin-bottom: 30px;
}

.header2 {
  color: #ffffff;
  font-weight: bold;
  text-align: center;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 60px;
}

.description {
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  text-transform: uppercase;
  line-height: 20px;
  margin-bottom: 80px;

}

.read-more {
  width: 150px;
 padding: 15px 0px;;
 display: block;
 margin: 0px auto;
 border: 1px solid #000000;
 text-decoration: none;
 background-color: ;
 color: #000000;
 text-align: center;
 background-color: #feb33c;

}

.aboutitem {
  width: 25%;
  padding: 80px 0px;
  box-sizing: border-box;



}

.aboutitem i {
  color: #feb33c;
  text-align: center;
  font-size: 48px;
  display: block;
  margin-bottom: 30px;

}
.aboutitem h1 {
  font-size: 16px;
  color: #000000;
  text-align: center;
  margin-bottom: 20px;
  font-weight: bold;


}

.aboutitem p {
  text-align: center;
  color: #555555;

}
